{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Bus Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Boat emissions vary significantly based on capacity. Passenger boats produce <strong>186 g CO2/pkm</strong>, making them a moderate option for water travel. 
      Cars transported without passengers emit <strong>377 g CO2/pkm</strong>, more than double the emissions of passenger boats.
    </p>
  </div>

</div>

{% endblock %}
