{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Plane Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Flying connects people and is sometimes the fastest way to travel but it also leaves a big footprint. 
      A flight in economy class produces about <strong>127 CO₂/pkm</strong> while business class can reach <strong>284 g CO₂/pkm</strong> since there’s more space per passenger. 
       </p><strong>Tip from MR. Eco: Choosing economy class or flying less often can make a big difference for the planet and your personal carbon footprint!</strong>
    </p>
  </div>

</div>

{% endblock %}
