{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Bus Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Diesel buses emit <strong>30g of CO₂ per kilometer</strong>. Consider greener options to keep your travel more 
      sustainable!
    </p>
  </div>

</div>

{% endblock %}
