{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Ferry Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      In Norway ferries are part of everyday life but the emissions depend on what you bring on board. 
      A passenger ferry produces about <strong>186 g CO₂/pkm</strong> while a car transported without passengers emits around <strong>377 g CO₂/pkm</strong>!
      </p> <strong>Tip from MR. Eco: Whenever possible, leave the car behind and enjoy the sea breeze. Your footprint will thank you! </strong>
  </p>
  </div>

</div>

{% endblock %}
