{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Bus Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Economy class produces <strong>127 g CO2/pkm</strong> while business class generates <strong>284 g CO2/pkm</strong>.
      Economy is significantly more eco-friendly since emissions are shared among more passengers, 
      whereas business class has fewer passengers per plane, resulting in a higher carbon footprint per person.
    </p>
  </div>

</div>

{% endblock %}
