{% extends "layout.html" %}
{% block content %}

<!-- Calculator Card-->
<div class="calculator-grid">
  <div class="calculator-card">
    <p><strong>Bus Calculator</strong></p>
    <p>Please, enter the number of kilometers.</p>
    <p>xx</p>
  </div>

 
<!-- Card Mtehodology-->
  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Buses carry many people at once which keeps emissions per person low. 
      A typical diesel bus produces around <strong>30 g CO₂/pkm</strong>
       </p><strong>Tip from MR. Eco: Choosing public transport is one of the easiest ways to reduce your footprint without changing your routine!</strong> 
  </p>
  </div>

</div>

{% endblock %}
