{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  <div class="calculator-card">
    <p><strong>Walking/Biking Calculator</strong></p>
    <p>xx</p>
  </div>

  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
     Zero emission, 100% freedom. 
    Walking and cycling produce obviously <strong>0 g CO₂/pkm</strong> and are the cleanest ways to move. 
     </p><strong> Tip from MR. Eco: They’re not only good for the planet but also for your health. Sometimes the greenest route is simply the one you take on your own two feet.</strong>
    </p>
  </div>

</div>

{% endblock %}
