/* Paper */
.btn_paper {
    background-color: #0e76a8;
    color: rgb(240, 222, 193);
    padding: 10px;
    border-radius: 12px;
    text-align: center;   
}

/* Hover-Effekt */
.btn_paper:hover {
    transform: scale(1.05) translateY(-8px);
    background-color: rgb(240, 222, 193);
    color: #0e76a8;
    font-weight: 700;
}

/* Button-new-entry */
.btn_entry {
    background-color: #0f2935;
    color: rgb(240, 222, 193);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* TRANSPORT CARDS (boxes with pictures of the transport means */

/* Transport-Grid*/
.transport-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

/* Transport-Cards*/
.transport-card {
    background-color: rgba(24, 31, 25, 0.8);
    padding: 20px;
    border-radius: 16px;
    width: 400px;
    min-height: 200px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items:center;
    justify-content: center;
  }

.transport-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.2);
  cursor:pointer;
}

.transport-card i {
    color: rgb(240, 222, 193);
    font-size: 6rem;        
    margin-bottom: 15px;
}

.transport-card i + i {
  margin-left: 30px;
}

/* Calculator CARDS (calculator and methodology card) */

.calculator-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.calculator-card {
  background-color: #181f19;
  color: rgb(240, 222, 193);
  border-radius: 16px;
  width: 500px;
  min-height: 200px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/*End container buttons section main menu*/
/*Container main menu */
.main_menu {
  display: flex;
  background: #c5c8d9;
  }  
.main_menu .container {
  display: flex;
  background: #c5c8d9;
}
.main_menu .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.main_menu .container .box {
  flex: 1;
  background: #c5c8d9;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.main_menu .container  .box:nth-of-type(1) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}  
.main_menu .container  .box:nth-of-type(2) {
  flex-grow:6;
  max-width: 450px;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.main_menu .container  .box:nth-of-type(3) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}
/*End container main menu*/
/*Container buttons section main menu */
.container_buttons_links_main_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_main_menu a:hover {
  color: #568c63;
}

/*Media Queries*/

@media (max-width:768px) { 
  .header_carbon_app {
    flex-direction: column;
  } 
  .carbon_app_new_entry_main {
    flex-direction: column;
  } 
  .new_entry .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .table_main .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
}

/*Container two_emissions_graphs */
.two_emissions_graphs {
  display: flex;
  background: #c5c8d9;
  }  
.two_emissions_graphs .container {
  display: flex;
  background: #c5c8d9;
}
.two_emissions_graphs .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.two_emissions_graphs .container .box {
  flex: 1;
  background: #c5c8d9;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  

/*End container two_emissions_graphs*/