/* METHODOLOGY - TRANSPORT CARDS */

.methodology-container {
  padding: 40px 80px; 
}

.transport-grid {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 40px;             
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.transport-card {
  width: 100%;
  background-color: #181f19;
  border-radius: 16px;
  padding: 40px;
  color: #181f19;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.transport-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.2);
}

.transport-card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #181f19;
}

.transport-card p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: rgb(240, 222, 193);
}

/* formula Box */
.formula-box {
  width: 80%;
  background-color: #181f19;
  border-radius: 40px;
  padding: 30px;
  color: rgb(240, 222, 193);
  box-shadow: 0 6px 12px rgba(227, 212, 212, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 50px auto;
}
/* Methodology - Paragraph Overlay */

.text-overlay {
  background-color: #181f19;
    background-color: rgb(240, 222, 193);
    padding: 30px;
    border-radius: 12px;
    max-width: 900px;
    margin: 20px auto; 
    color: rgba(24, 31, 25, 0.8);
    text-align: center;
}