{% extends "layout.html" %}
{% block content %}


<!-- Section: Presentation of the Team -->

<section class="hero">
    <div class="container">
<h1 style="text-align:center; font-size:55px; color: rgb(240, 222, 193)">
    <span class="text-logo"> About Us</span>
</h1> <p style="text-align:left; color: rgb(240, 222, 193);">
    We are an international team of students united by a shared passion for tackling climate change. Coming from different countries and backgrounds, we bring diverse ideas and perspectives to the table. With Mr. Eco as our guide, we use gamification to turn sustainable choices into a fun, engaging, and meaningful journey toward a greener future. 
    </p>
</div>
</section>


<!-- Team members-->

<section class="team-section">
  

    <div class="team-grid">
  <div class="team-card">
     <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" style="border-radius: 50%; width:150px;">
    <p> Corrado Falco</p>
    <p> Hi, I’m Corrado, from Italy, and I’m studying Sustainable Economics.
My main interest lies in the intersection between innovation, sustainability, and policy.
I believe that economic transformation requires both creativity and collaboration, and I’m motivated to contribute to the shift toward a greener and more inclusive economy.
          </p>
          <div class="section_container_buttons_linked in">
            <a class="btn_linkedin" href="https://www.linkedin.com/in/corrado-falco-1ab8b1278/"  target="_blank">LinkedIn</a>
          </div> 
  </div>



<div class="team-card">
         <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" style="border-radius: 50%; width:150px;">
    <p> Julie Joan</p>
    <p>  Hi, I’m Julie, and I’m currently pursuing a Master’s degree in Digital Education for Sustainable Development at Heidelberg University of Education. In my studies, I explore the intersections of education, digitalization, and sustainability. I’m particularly interested in how digital media and innovative approaches can be used to foster a more sustainable future.
          </p>
          <div class="section_container_buttons_linkedin">
            <a class="btn_linkedin" href="https://www.linkedin.com/in/julie-joan-ab2b98326/"  target="_blank">LinkedIn</a>
          </div> 
        </div>    

  <div class="team-card">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" style="border-radius: 50%; width:150px;">
    <p> Shaira Krüglstein</p>
    <p>  My name is Shaira, I come from Germany and I study Human Resources Management. I enjoy working with people and learning what motivates them, and that is also why sustainability interests me. I believe that even small actions can make a difference, and I like being part of projects that create awareness and positive change.
          </p>
          <div class="section_container_buttons_linkedin">
            <a class="btn_linkedin" href="https://www.linkedin.com/in/shaira-kr%C3%BCglstein-8b0107214/"  target="_blank">LinkedIn</a>
          </div> 
  </div>

    <div class="team-card">
         <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" style="border-radius: 50%; width:150px;">
    <p> Sabrina Mazouz</p>
    <p>  Hi, I’m Sabrina, originally from Algeria, and I’m currently studying Sustainable Economics.
I’m passionate about understanding how economic systems can evolve to support both people and the planet.
Through my studies, I explore how sustainability can be integrated into everyday decision-making — from business models to individual choices — to create more conscious and balanced communities.
          </p>
          <div class="section_container_buttons_linkedin">
            <a class="btn_linkedin" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"  target="_blank">LinkedIn</a>
          </div> 
  </div>

  <div class="team-card">
        <img src="https://drive.google.com/file/d/1Ng0bloU0jlc8ElTXVeRq9ZdvNpYUu4R8/view" alt="" style="border-radius: 50%; width:150px;">
    <p>Julia Metlicka</p>
    <p>  Hi, I’m Julia, from Poland, and I’m pursuing a degree in Sustainable Economics.
I’m particularly interested in how global challenges like climate change and social inequality can be addressed through responsible economic thinking.
I enjoy discovering new ways to connect theory with practice — especially when it comes to building a more sustainable and fair future for everyone.
          </p>
        
  </div>

  
        


  </div>          
</section>


{% endblock content %}
