{% extends "layout.html" %}


{% block content %}

<div class="text-overlay">
<div class="home-container">
    <p>  Hi! I'm Mr. Eco, your personal environmental investigator. I'm here to help you uncover the hidden carbon footprint 
        behind every journey you take. Whether you commute by car, catch a bus, board a train, sail across the sea, 
        or fly through the sky, I'll reveal exactly how much CO2 each of your travels produces. Together, we'll investigate 
        your transportation habits, understand the environmental impact of your choices, and discover ways to travel 
        smarter and greener. Ready to become a carbon-conscious explorer? Let's investigate! </p>
</div>

</div>

<section class="team-section">
  <h2>Meet the Team</h2>

    <div class="team-grid">
  <div class="team-card">
    <p> Hi I am Corri</p>
  </div>

  <div class="team-card">
    
    <p> Hi I am Sab</p>
  </div>

  <div class="team-card">
   
    <p> Hi I am Shaira </p>
  </div>

  <div class="team-card">
   
    <p>Hi I am Ju</p>
  </div>

  <div class="team-card">
    <p> Hi I am Julie </p>
  </div>


{% endblock %}
